*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* Her tilføjer jeg smooth til min scroll-behavior, så mine links fungerer mere glidenede */

html{
    scroll-behavior: smooth;
}

/* Styling af menuen */

body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e5e5e5;
}

a{
    color: #e5e5e5;
}

/* Styling af min header til burger/nav menu */

.header{
    background-color: #1A1B2F;
    box-shadow: 1px 1px 4px 0 #000000;
    position: fixed;
    width: 100%;
    z-index: 3;
}

.header ul{
    margin: 0;
    padding: 0;
    list-style: none;
    overflow:hidden;
    background-color: #1A1B2F;
}

.header li a{
    display: block;
    padding: 20px 20px;
    border-right: 1px solid #e5e5e5;
    text-decoration: none;
}

.header li a:hover, .header .menubutton:hover{
    background-color: #fca311;
}

.header .menu{
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}

/* Her styler jeg mit menu icon */

.header .menu-icon{
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 35px;
    position: relative;
    user-select: none;
}

.header .menu-icon .navicon{
    background: #e5e5e5;
    display: block;
    height: 2px;
    position: absolute;
    transition: background .2s ease-out;
    width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after{
    background: #e5e5e5;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.header .menu-icon .navicon:before{
    top: 5px;
}

.header .menu-icon .navicon:after{
    top: -5px;
}


/* Styling af menu knapper */

.menubutton{
    font-size: 23px;
    cursor: pointer;
    display: none;
}

.header .menubutton{
    display: none;
}

.header .menubutton:checked ~ .menu{
    max-height: 280px;
}

.header .menubutton:checked ~ .menu-icon .navicon{
    background: transparent;
}

.header .menubutton:checked ~ .menu-icon .navicon:before{
    transform: rotate(-45deg);
}

.header .menubutton:checked ~ .menu-icon .navicon:after{
    transform: rotate(45deg);
}

.header .menubutton:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menubutton:checked ~ .menu-icon:not(.steps) .navicon:after{
    top: 0;
}

/* Her laver jeg media quries, så min menu er responsiv */

@media (min-width: 48em) {
    .header li{
        float: left;
    }
    .header li a{
        padding: 20px 30px;
    }
    .header .menu{
        clear: none;
        float: right;
        max-height: none;
    }
    .header .menu-icon{
        display: none;
    }
}

/* Her starter styling af mit forside billede */

.Bagground{
    background-image: url("Baggrund.jpg");
    min-height: 500px;
    height: 100vh;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}


.titel{
    text-align: center;
    padding-top: 480px;
    text-transform: uppercase;
    color: #e5e5e5;
    font-size: 4rem;   
}

/* Her styles min knap på forsiden */

.button{
    display: inline-block;
    text-decoration: none;
    color: #e5e5e5;
    font-weight: 700;
    font-size: 1.125rem;
    padding: .5em 1.25em;
    background: #fca311;
    border-radius: 5px;
    border: 2px solid #1A1B2F;
    font-family: Arial, Helvetica, sans-serif;

}

.button:hover{
    color: #e5e5e5;
    background: none;
    border: 2px solid #e5e5e5;
}

/* Her styles indholdet "om mig" og knap til top */

.Om{
    background-color: #e5e5e5;
}

.toppil{
    position: fixed;
    bottom: 19px;
    right: 19px;
    width: 6%;
    opacity: 90%;
    z-index: 99999;
}

h2{
    color: #1A1B2F;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    padding: 70px 0 50px 0;
}

p{
    text-align: center;
    line-height: 40px;
    margin: 0;
    margin: 50px 50px 50px 50px;
    font-size: 1.1rem;
}

.tekst{
    color: #e5e5e5;
    padding: 70px 0 50px 0;
}
.teksten{
    color: #e5e5e5;
}

/* Her styles projekt sectionen */

.projekter{
    background-color: #1A1B2F;
}

.row{
    display: flex;
}

.colunm{
    flex: 50%;
    padding: 5px;
    text-align: center;
}

.tekst2{
    color: #1A1B2F;
    padding: 70px 0 50px 0;
}

h3{
    color: #fca311;
    margin-top: 35px;
    margin-bottom: 30px;
}

.ptekst{
    color: #e5e5e5;
}

/* media quries til projekter, så de er responsive i en lang column */

@media screen and (max-width: 860px) {
    .column {
    width: 100%;
    }
  
    .row {
      display: flex;
     flex-direction: column;
    }

/* media quries til ikoner */

    #icons img{
        width: 10% !important;
    }

/* media quries til toppil */
 
    .toppil{
        width: 15%;
        right: 3px;
        bottom: 3px;
    }


/* media quries til kontaktformular */

   #left_colunm{
       padding: 20px 30px 20px 30px;
       line-height: 20px;
       text-align: left;
       background-color: #1A1B2F;
       margin: 20px 20px 20px 20px;
   }

   /* media quries til h1 tekst */

   .titel{
       font-size: 2.5rem;

   }

}

/* Her styles kontaktformularen */

.kontakt{
    background-color: #e5e5e5;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #fca311;
    color: white;
    padding: 12px 20px;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #1A1B2F;
  }
  
  #left_colunm.container{
    border-radius: 5px;
    background-color: #1A1B2F;
    padding: 20px;
    margin: 50px 35px 25px 35px;
    text-align: left;

  }

  h3{
   display: block;
   font-size: 1.5em;
   font-weight: bold;
  }

  label{
      color: #e5e5e5;
  }

  .tekst3{
      font-size: 1.5em;
      font-weight: bold;
      display: block;
      color: #1A1B2F;
      padding: 7px;
  }

/* Her styles teksten til kontaktsiden */

  .p3{
      display: block;
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      margin: 20px 20px 20px 20px;
      text-align: justify;
  }

  .p2{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin: 20px 20px 20px 20px;
    text-align: justify;
    font-weight: bold;
  }

  .p4{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin: 20px 20px 20px 20px;
    text-align: justify;
  }

  .p5{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin: 20px 20px 0px 20px;
    text-align: justify;
    font-weight: bold; 
  }

/* her styles ikoner på kontaktside */

  #icons img{
      margin: 17px;
      width: 8%;
      float: left;
  }

/* Her stylse min footer */

.outer_footer{
    background-image: url("./Images/footer3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: #1A1B2F;
    position: relative;
    min-height: 300px;
}

h4{
    font-size: 1.2em;
    font-weight: bold;
    display: block;
    color: #e5e5e5;
    text-align: center;
    padding-top: 120px;
}

.tekst4{
    font-size: 1.2em;
    font-weight: bold;
    display: block;
    color: #e5e5e5;
    text-align: center;
    padding: 30px;

}



